.counter {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.counter h1 {
  color: rgb(16, 0, 54);
  font-size: 40px;
  font-family: cursive;
}

.counter h3 {
  color: rgb(16, 0, 54);
  font-size: 20px;
  font-family: cursive;
  padding-bottom: 10px
}

.counter__output {
  font-size: 40px;
  color: rgb(74, 10, 10);
}

.btn__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
  column-gap: 30px;
}

.control__btn {
  font-size: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: rgb(16, 0, 54);
  border: 1px solid rgb(16, 0, 54);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 5%;
}

.control__btn:hover {
  background-color: rgb(16, 0, 54);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(16, 0, 54);
  border-radius: 5%;
}

.reset {
  width: 100px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: transparent;
  color: rgb(16, 0, 54);
  border: 1px solid rgb(16, 0, 54);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 5%;
}

.reset:hover {
  background-color: rgb(16, 0, 54);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(16, 0, 54);
  border-radius: 5%;
}